// Color Variables
$mint:  #75CBB3;
$purple: #7A4865;
$red: #DC2249;
$dark: #3D2C42;
$yellow: #F6CB51;
$gray: #F2F2F2;
$white: #ffffff;
$black: #000000;

.wrapper {
    display: flex;
    justify-content: center;
    
}